* {
    padding: 0;
    margin: 0;
}


/* 没用？ */

section {
    width: 100%;
    margin: auto;
}

body {
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 0 0 10px;
}

a {
    background-color: transparent;
    color: #283f59;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* li {
    display: inline-block;
} */

.button {
    display: inline-block;
    color: #fff;
    width: 230px;
    /* height: 60px; */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 20px 12px;
    margin-right: 5px;
    border-radius: 3px;
}

.container {
    box-sizing: border-box;
    width: 1170px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

nav {
    /* background: transparent; */
    background-color: rgba(46, 85, 105, 0.8);
    color: #fff;
    height: 70px;
    line-height: 70px;
}

.header .logo {
    float: left;
    padding-left: 15px;
}

.header .logo a {
    color: #333;
    margin-top: 14px;
    font-weight: 700;
    float: left;
    font-size: 24px;
    line-height: normal;
    margin-left: -15px;
}

.header ul {
    float: right;
    list-style: none;
}

.header ul>li {
    float: left;
}

.header ul>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    margin: 16px 15px 19px;
    display: inline-block;
}

.header ul>li.status>a::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #47c652;
    margin-left: 4px;
    margin-right: 5px;
}

.header ul>li.action>a {
    background: rgba(255, 255, 255, .15);
    padding: 0 10px;
    border-radius: 3px;
    margin-right: 0;
}

.header ul>li.action.cta>a {
    background: #f47b21;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px px 1px;
    margin-right: 0;
}

.container::after,
.header .logo:after,
.header ul:after {
    clear: both;
}

.top {
    background-color: rgba(25, 54, 69, 0.8);
    background-image: url(./site_images/mountains.svg);
    background-size: cover;
    background-position: center;
    /* background-clip: padding-box; */
    color: #fff;
    padding: 140px 0 160px 0;
}

.top.pricing {
    padding-top: 110px;
    padding-bottom: 210px;
    background-color: rgba(25, 54, 69, 0.8);
    background-image: url(./site_images/mountains.svg);
    color: #fff;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.top .intro_text {
    display: inline-block;
}

.top .container h2,
.top .container h4 {
    font-family: Promo, Helvetica, Arial, sans-serif
}

.top .container h2 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 0;
}

.top .container h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 17px;
}

.top .container h4+.number_customers {
    display: block;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    border: 0 solid rgba(255, 255, 255, 1);
    padding: 6px 10px 13px 16px;
    /* font-family: Promo, Helvetica, Arial, sans-serif; */
    width: 388px;
    background: rgba(255, 255, 255, .1);
    border-radius: 17px;
}

.top .container .cta {
    background: #f47b21;
    text-align: center;
    margin-top: 20px;
}

.friendly {
    font-size: 19px;
    font-family: FriendlyFont, sans-serif;
}

.top .container .weather_animated {
    display: inline-block;
    height: 300px;
    width: 500px;
    background: #16394c;
    border: 4px solid #608094;
    border-radius: 10px;
}

.weather_animated .week .day i {
    width: 80px;
    height: 70px;
}

.top .container .weather_animated i.partly_cloudy {
    background: url(./site_images/weather_icon_partly_cloudy.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.full_clouds {
    background: url(./site_images/weather_icon_full_clouds.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.night {
    background: url(./site_images/weather_icon_night.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top.container .weather_animated i.sun_rain_clouds {
    background: url(./site_images/weather_icon_sun_rain_clouds.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.full_sun {
    background: url(./site_images/weather_icon_full_sun.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.rainy {
    background: url(./site_images/weather_icon_rainy.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.cloud_slight_rain {
    background: url(./site_images/weather_icon_cloud_slight_rain.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated i.thunder {
    background: url(./site_images/weather_icon_thunder.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top .container .weather_animated .location {
    display: block;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.top .container .weather_animated .location span {
    font-weight: bold;
}

.top .container .weather_animated .main_left {
    float: left;
    width: 275px;
    height: 137px;
}

.top .container .weather_animated .main_left i {
    display: inline-block;
    background-size: cover;
    width: 140px;
    height: 137px;
}

.top .container .weather_animated .main_left span {
    /* width: 100px; */
    text-align: center;
}

.top .container .weather_animated .main_right {
    float: right;
    text-align: right;
    width: 150px;
    /* height: 137px; */
    padding-top: 26px;
}

.top .container .weather_animated .main_right ul li {
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
}

.top .container .weather_animated .main_right .temperature {
    font-size: 32px;
    font-weight: 600;
}

.top .container .weather_animated .week {
    clear: both;
    display: block;
    text-align: center;
}

.top .container .weather_animated .week .day {
    display: inline-block;
    width: 95px;
    height: 107px;
}

.top .container .weather_animated .week .day .name {
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.top .container .weather_animated .week .day i {
    display: block;
    background-position: center;
}

.top.pricing .cycle {
    display: block;
    margin-top: 40px
}

.top.pricing .cycle a {
    background: #fff;
    padding: 10px 10px 11px 30px;
    border-radius: 5px;
    width: 150px;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
}

.top.pricing .cycle a.monthly {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.top.pricing .cycle a.yearly {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -3px
}

.top.pricing .cycle a.selected {
    background: #15394c;
    color: #fff;
}

.top.pricing .cycle a.yearly:after {
    background: #8a9bae;
    color: #fff;
    font-size: 11px;
    padding: 3px 8px 4px 8px;
    border-radius: 3px;
    content: '20% Discount';
    font-weight: 600;
}

.top.subpage {
    padding: 95px 0 70px;
    margin-bottom: 0;
    text-align: center;
    background: #244f67;
}

.top.subpage .container h3 {
    line-height: 22px;
    font-size: 15px;
    width: 550px;
    margin: 0 auto
}

.top.documentation {
    padding: 85px 0 30px;
    color: rgba(22, 34, 47, 1);
    margin-bottom: 0;
    background: #eff2f5;
    background-size: 30%;
    background-repeat: no-repeat;
}

.top.documentation .intro_buttons .left,
.top.documentation .intro_buttons .right {
    /* display: inline-block; */
    /* width: 50%; */
    text-align: left;
    padding: 10px;
    box-sizing: border-box
}

section.top.documentation .intro_buttons .left {
    float: left
}

section.top.documentation .intro_buttons .right {
    float: right
}

.top.documentation .intro_buttons div h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 13px
}

.top.documentation .intro_buttons div p {
    max-width: 450px
}

.top.documentation .intro_buttons div a {
    background-position: top;
    padding: 10px 10px;
    height: auto;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    display: block;
    width: 190px;
    text-align: center;
    background: #dde0e2;
    color: #637280;
}

.top.documentation .intro_buttons div a.sign_up {
    background: #244f67;
    color: #fff;
}

.api_documentation {
    padding: 30px 0;
    text-align: left;
    color: rgba(22, 34, 47, 1);
    background: #fff
}

.api_documentation .container .menu {
    float: left;
    width: 250px;
    color: rgba(22, 34, 47, 1);
    margin-top: 15px;
    border-right: 1px solid #eee;
}

.api_documentation .container .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    background: #fff
}

.api_documentation .container .menu ul li a {
    padding: 5px 15px;
    display: block;
    font-weight: 300;
    color: rgba(22, 34, 47, 1)
}

.api_documentation .container .menu ul li.doc_heading {
    font-weight: 600;
    padding: 10px 15px 11px;
    position: relative;
    font-size: 16px
}


/*  */

section.api_documentation .container .content {
    float: right;
    width: 860px;
    color: #283f59;
}

.api_documentation .container .content .topic code {
    padding: 2px 4px;
    font-size: 97%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.customers {
    background: #eff2f5;
    padding: 40px 0 12px;
}

.pricing+.customers {
    background: #ffffff;
    padding-top: 15px;
}

.customers ul {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center
}

.customers ul li {
    display: inline-block;
    font-family: Promo, Helvetica, Arial, sans-serif;
    width: 187px;
    height: 50px;
    font-size: 15px;
}

.customers ul li:nth-child(1) {
    font-weight: 300;
    font-size: 15px;
    background: 0 0;
    width: 185px;
    text-align: left
}

.customers li.deloitte {
    background: url(./site_images/client_deloitte.svg);
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.customers ul li.microsoft {
    background: url(./site_images/client_microsoft.svg);
    background-size: 135px;
    background-position: center;
    background-repeat: no-repeat;
}

.customers ul li.schneider {
    background: url(./site_images/client_schneider.svg);
    background-size: 125px;
    background-position: center;
    background-repeat: no-repeat;
}

.customers ul li.warnerbros {
    background: url(./site_images/client_warnerbros.svg);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    width: 110px
}

.customers ul li.wawa {
    background: url(./site_images/client_wawa.svg);
    background-size: 85px;
    background-position: center;
    background-repeat: no-repeat;
    width: 132px;
}

.customers ul li.ericsson {
    background: url(./site_images/client_ericsson_2.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 112px;
}

.show {
    background: #fff;
    padding: 40px 0;
    /* display: block!important; */
}

.boxes {
    background-color: #eff2f5;
    padding: 18px 12px 19px 12px;
    box-sizing: border-box;
    border-radius: 5px;
}

.box {
    display: inline-block;
    width: 250px;
    text-align: left;
    background-color: #ebeff4;
    padding: 10px;
    margin: 0 12px;
    /* vertical-align: middle; */
    box-sizing: border-box;
    border-radius: 5px;
}

.box h5 {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.main_feature {
    background: #fff;
    padding: 25px 0 65px 0;
}

.main_feature .details {
    width: 440px;
    display: inline-block;
}

.main_feature .details h4 {
    font-weight: 300;
    font-size: 25px;
    line-height: normal;
    font-family: Promo, Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

.main_feature .details p {
    font-size: 15px;
    margin-bottom: 15px;
}

.main_feature .details ul li {
    line-height: 35px;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

.map {
    float: right;
    /* display: inline-block; */
    vertical-align: middle;
}

.methods {
    background: #184157 url(./site_images/bg_waves_4.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 40px 0 40px 0;
    text-align: center;
    color: #fff;
}

.methods h4:before {
    content: 'Example';
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: #416376;
    width: 100px;
    margin: auto;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -5px;
    text-align: center;
    padding: 10px 0 11px 0;
    border-radius: 99px;
}

.methods h4 {
    font-weight: 300;
    font-size: 25px;
    line-height: normal;
    font-family: Promo, Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

.methods h5 {
    font-size: 20px;
    line-height: normal;
    width: 600px;
    margin: auto;
}

.methods ul.buttons {
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.methods ul.buttons li {
    display: inline-block;
    margin-left: -3px;
    margin-right: -2px;
}

.methods ul.buttons li a {
    display: inline-block;
    width: 225px;
    background: #fff;
    font-weight: 600;
    padding: 16px 10px 18px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.methods ul.buttons li:nth-child(1) a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.methods ul.buttons li:nth-child(3) a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.methods ul.buttons li a.selected {
    background: #f47b21;
    color: #fff;
}

.methods .result {
    display: block;
    background: #17242b;
    width: 673px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
    border-radius: 5px;
}

.prettyprint {
    background: #17242b;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 10px;
    box-sizing: border-box;
}

pre {
    color: #ffce54;
}

.methods .more_features {
    text-align: center;
    margin-top: 40px;
}

.methods .more_features ul li {
    display: inline-block;
    width: 370px;
    padding: 14px 20px 15px 20px;
    margin-bottom: 15px;
    margin-left: 5px;
    line-height: normal;
    background: rgba(255, 255, 255, .1);
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.methods .more_features ul li span.heading {
    font-weight: 600;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.methods .more_features ul li p {
    display: block;
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
}

.grid {
    background: #fff;
    padding: 45px 0 50px 0;
}

.grid h4 {
    font-size: 25px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
    font-family: Promo, Helvetica, Arial, sans-serif;
    text-align: center;
}

.grid h5 {
    font-size: 20px;
    line-height: normal;
    width: 600px;
    text-align: center;
    margin: 20px auto 0;
}

.grid ul {
    margin-top: 45px;
    font-size: 0;
}

.grid ul li {
    display: inline-block;
    width: 250px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.grid ul li.daimler {
    background: #263e6a url(./site_images/client_white_daimler.svg);
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
}

.grid ul li.deloitte {
    background: #eef2f5 url(./site_images/client_deloitte.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.grid ul li.ericsson {
    background: #01275b url(./site_images/client_white_ericsson_2.svg);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 135px;
}

.grid ul li.microsoft {
    background: #eef2f5 url(./site_images/client_microsoft.svg);
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
}

.grid ul li.schneider {
    background: #009e4d url(./site_images/client_white_schneider.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    margin-right: 0;
}

.grid ul li.warnerbros {
    background: #027ac2 url(./site_images/client_white_warnerbros.svg);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 190px;
}

.grid ul li.wawa {
    background: #ee2e25 url(./site_images/client_white_wawa.svg);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

.grid ul li.canda {
    background: #eef2f5 url(./site_images/client_canda.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    width: 135px;
}

.grid ul li.rimowa {
    background: #eef2f5 url(./site_images/client_rimowa.svg);
    background-size: 155px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

.grid ul li.mckinsey {
    background: #23477f url(./site_images/client_mckinsey.svg);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    width: 260px;
}

.pricing {
    padding: 40px 0 65px;
    text-align: center;
    background: #fff;
}

.pricing .container ul.subscriptions {
    margin: -180px 0 0;
    padding: 0;
    text-align: center;
    color: rgba(22, 34, 47, 1);
}

.pricing .container ul.subscriptions>li {
    text-align: left;
    display: inline-block;
    width: 211px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.pricing .container ul.subscriptions li.enterprise {
    background: #15394c;
    width: 230px;
    color: #fff;
}

.pricing .container ul.subscriptions>li.highlighted .main_container {
    box-shadow: 0 1rem 3rem 0 rgba(177, 177, 177, .4);
    background: #fff
}

.pricing .container ul.subscriptions li .main_container {
    border-radius: 5px;
    padding-bottom: 10px;
    background: #ebeff4;
    text-align: center
}

.pricing .container ul.subscriptions li.enterprise .main_container {
    background: 0 0;
}

.pricing .container ul.subscriptions li .main_container .mc_header {
    padding: 35px 0 15px
}

.pricing .container ul.subscriptions li.highlighted .main_container .mc_header {
    padding-top: 65px
}

.pricing .container ul.subscriptions li.highlighted .mc_header:before {
    content: 'Most Popular';
    display: block;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 12px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 7px;
    background: #15394c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing .container ul.subscriptions li .main_container .mc_header heading {
    font-size: 18px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.pricing .container ul.subscriptions li .main_container .short_description {
    height: 100px;
    padding: 15px 15px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px
}

.pricing .container ul.subscriptions li .main_container .price {
    margin-bottom: 40px;
    text-align: center;
    line-height: normal
}

.pricing .container ul.subscriptions li .main_container .price span {
    font-size: 20px;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-weight: 600;
    margin-right: 2px
}

.pricing .container ul.subscriptions li .main_container .price small {
    font-size: 12px
}

section.pricing .container ul.subscriptions li .main_container .price small.yearly_price {
    display: block;
    color: rgba(0, 0, 0, .4);
    margin-top: 5px;
    font-weight: 600;
    font-size: 12px
}

.pricing .container ul.subscriptions li.enterprise .main_container .price small.yearly_price {
    color: #fff
}

.pricing .container ul.subscriptions li .main_container a {
    display: inline-block;
    background: #dde1e7;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #848484;
    width: 90%;
    border-radius: 3px
}

section.pricing .container ul.subscriptions li.enterprise .main_container a {
    background: #f47b21;
    color: #fff;
    width: 88%;
}

.pricing .container ul.subscriptions li.highlighted .main_container a {
    background: #15394c;
    color: #fff;
}

.pricing .container ul.subscriptions li .features_container {
    padding: 0;
    margin-top: 25px;
}

.pricing .container ul.subscriptions li .features_container ul {
    margin: 0 -7px 0 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #dde1e7;
}

.pricing .container ul.subscriptions li.business .features_container ul {
    border: 0
}

.pricing .container ul.subscriptions li.enterprise .features_container ul {
    border-right: 0;
    padding-bottom: 5px
}

.pricing .container ul.subscriptions li .features_container ul li {
    text-align: left;
    padding-top: 0;
    padding-bottom: 13px;
    padding-left: 18px;
    border-bottom: 0;
}

.pricing .container ul.subscriptions li .features_container ul li:before {
    content: "！";
    font-family: Linearicons;
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}

.features_roundup {
    padding: 50px 0 40px;
    background-color: #eff2f5;
    background: #eff2f5 url(./site_images/world_map_vector_objects.svg);
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 110px;
    text-align: center;
}

.features_roundup h4 {
    font-size: 25px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
    font-family: Promo, Helvetica, Arial, sans-serif;
    margin-bottom: 260px;
}

.features_roundup .row {
    /* display: inline-block; */
    padding: 20px 0;
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding-left: 125px;
    padding-bottom: 25px;
}

.features_roundup .row .heading {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.features_roundup .row .included_in {
    display: inline-block;
    margin: 20px 0;
    height: 82px;
    border-left: 2px dashed #dde2e6;
    padding-left: 45px;
    padding-top: 17px;
    text-align: left;
    width: 240px;
}

.features_roundup .row .included_in span:first-child {
    display: block;
    font-weight: bold;
    background: #416376;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
    margin-bottom: 7px;
}

.features_roundup .row p {
    width: 500px;
}


/* 没有用？ */

.faq section.faq {
    padding: 40px 0 45px;
}

.faq {
    color: rgba(22, 34, 47, 1);
    padding: 40px 0 10px;
    background: #fff;
    text-align: center;
}

.faq .container h2 {
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 0;
}

.faq .container .inline_left {
    display: inline-block;
    width: 500px;
    margin-right: 25px;
    vertical-align: top
}

.faq .container .inline_right {
    display: inline-block;
    width: 500px;
    margin-left: 25px;
    vertical-align: top
}

.faq .container .topic {
    margin: 0 auto 35px;
    text-align: left
}

.faq .container .topic h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #949494
}

.faq .container .topic ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.faq .container .topic ul li p.question {
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #dedee1;
}

.faq .container .topic ul li p.answer {
    /* display: none; */
    background: #ebeff4;
    padding: 20px 15px;
    line-height: 23px;
    margin-bottom: 0
}

.faq .container .topic ul li p a {
    text-decoration: underline;
    color: #2e67a8
}

.faq .container .topic>a {
    padding: 15px 40px 15px 10px;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    width: 300px;
    border-radius: 3px;
    text-align: center;
    background: #c8d3dd;
    color: #7e8e9e
}

.faq .container .topic>a.view_all {
    background: 0 0;
    left: -20px;
}

.faq .container .topic>a:after {
    content: "  →";
    font-family: Linearicons;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

section.preapp {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    background: url(./site_images/mountains.svg);
    background-color: rgba(25, 54, 69, 0.8);
    background-size: cover;
}

.preapp.forgot,
.preapp.login {
    padding-bottom: 225px;
    padding-top: 120px;
    background: #244f67;
}

.preapp h2 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 10px;
    font-weight: 400
}


/*  */

section.cta {
    padding: 45px 30px 50px 30px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    background: #eff2f5;
    box-sizing: border-box;
    /* 
    background-size: 20%;
    background-repeat: no-repeat; */
}

.cta span {
    padding-right: 30px;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 0;
}

.cta span:after {
    content: "→";
    /* content: "\ea3c"; */
    display: inline-block;
    font-family: Linearicons;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 0;
}

.cta a {
    background: #f47b21;
    /* width: auto;
    height: auto; */
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 15px;
    margin-left: 20px;
    border-radius: 3px;
}


/* .cta.not_registar {
    background: rgba(0, 0, 0, .15);
    color: #fff;
} */

footer {
    text-align: center;
    padding: 50px 0;
    background: #184157;
    font-size: 14px;
    color: #fff;
}

footer ul,
footer .right_side {
    display: inline-block;
    width: 196px;
}

footer ul li {
    display: block;
    line-height: 30px;
    text-align: left;
}

footer ul li a {
    color: #fff;
}

footer .right_side {
    text-align: left;
    vertical-align: top;
}

footer .social_links {
    margin-top: 20px;
}

footer .social_links li {
    display: inline-block;
}

footer .container {
    text-align: center;
}

footer .container a {
    color: #fff;
}

.copyright_link {
    margin-top: 70px;
    margin-bottom: 15px;
}

.copyright_text {
    font-size: 12px;
}

.copyright_text a {
    text-decoration: underline;
}